-- Cek data video premium di database
SELECT 
  id, 
  title, 
  is_premium, 
  tags, 
  metadata->>'video_url' as video_url,
  status,
  published_at
FROM public.posts 
WHERE tags @> ARRAY['video'] 
ORDER BY created_at DESC;
