-- Update RLS policy for posts to allow premium users to view video posts
CREATE POLICY \
Premium
users
can
view
video
posts\ ON public.posts
  FOR SELECT USING (
    status = 'published' AND 
    (
      -- Free content
      (is_premium = false) OR 
      -- Premium content for premium users
      (is_premium = true AND 
       EXISTS (
         SELECT 1 FROM public.profiles 
         WHERE id = auth.uid() AND membership_type = 'premium'
       )) OR
      -- Admin can see everything
      EXISTS (
        SELECT 1 FROM public.profiles 
        WHERE id = auth.uid() AND is_admin = true
      )
    )
  );
